body {
    width: 800px;
}

table {
    box-sizing: border-box;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

td,
th {
    border: solid 1px;
    word-wrap: break-word;
}

th {
    background-color: rgb(255,255,0);
}
