
body {
    width: 367px;
    margin-left: 8px;
    margin-right: 25px;
    font-size: 14px;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
}

h1 {
    font-size: 110%;
    border-bottom: solid 3px rgb(128,128,128);
    margin: 0px 0px 2px;
}

h2 {
    font-size: 100%;
    border-bottom: solid 1px rgb(128,128,128);
    margin: 0px 0px 2px;
}

button {
    font-size: 100%;
    font-family: inherit;
}

ol {
    margin: 0px;
}

dl {
    overflow: hidden;
    margin: 1px 0px;
}

dt {
    clear: both;
    float: left;
    text-align: right;
    width: 25%;
    margin: 0px;
    padding: 2px;
    box-sizing: border-box;
}

dd {
    float: left;
    width: 75%;
    margin: 0px;
    padding: 2px;
    box-sizing: border-box;
}

select {
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    font-size: 100%;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    font-size: 100%;
    font-family: Consolas, Monaco, "Ubuntu Mono", monospace;
}

textarea {
    width: 100%;
    height: 1.5em;
    box-sizing: border-box;
    font-size: 100%;
    font-family: Consolas, Monaco, "Ubuntu Mono", monospace;
}

table {
    width: 100%;
    border: none;
    margin: 0px;
    border-collapse: collapse;
    word-break: break-all;
    font-family: Consolas, Monaco, "Ubuntu Mono", monospace;
}

td,
th {
    border: solid 1px;
    min-width: 40px;
}

th {
    background-color: rgb(255,255,0);
}

#execute {
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    font-size: 130%;
}

#show-all-results,
#open-options,
#set-style,
#reset-style,
#get-all-frame-id,
#frame-id-list,
#focus-frame,
#focus-designated-frame,
#show-previous-results,
#set-all-style,
#reset-all-style {
    box-sizing: border-box;
    width: 50%;
}

#previous-details-page,
#move-details-page,
#details-page-count,
#next-details-page {
    box-sizing: border-box;
    width: 25%;
}

.none {
    display: none;
}
