
body {
    width: 367px;
    margin-left: 8px;
    margin-right: 25px;
}

h1 {
    font-size: 130%;
    border-bottom: solid 3px rgb(128,128,128);
}

dl {
    overflow: hidden;
}

dt {
    clear: both;
    float: left;
    text-align: right;
    width: 96px;
    margin: 0px;
    padding: 2px;
}

dd {
    float: left;
    width: 263px;
    margin: 0px;
    padding: 2px;
}

select {
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 1.5em;
    box-sizing: border-box;
}

table {
    width: 100%;
    border: none;
    margin: 0px;
    border-collapse: collapse;
    table-layout: fixed;
}

td,
th {
    border: solid 1px;
    word-wrap: break-word;
}

th {
    background-color: rgb(255,255,0);
}

#execute {
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    font-size: 130%;
}

#show-all-results,
#open-options,
#set-style,
#reset-style {
    box-sizing: border-box;
    width: 50%;
}

#previous-details-page,
#move-details-page,
#details-page-count,
#next-details-page {
    box-sizing: border-box;
    width: 25%;
}

.none {
    display: none;
}