
.tryxpath--context----f43c83f3-1920-4222-a721-0cc19c4ba9bf {
    outline: dashed thick rgb(0,0,255) !important;
}

.tryxpath--element----f43c83f3-1920-4222-a721-0cc19c4ba9bf {
    outline: dashed thick rgb(255,0,0) !important;
}

.tryxpath--element----f43c83f3-1920-4222-a721-0cc19c4ba9bf.tryxpath--context----f43c83f3-1920-4222-a721-0cc19c4ba9bf {
    outline: dashed thick rgb(128,0,255) !important;
}

.tryxpath--focused----f43c83f3-1920-4222-a721-0cc19c4ba9bf,
.tryxpath--element----f43c83f3-1920-4222-a721-0cc19c4ba9bf.tryxpath--focused----f43c83f3-1920-4222-a721-0cc19c4ba9bf {
    outline: solid thick rgb(0,255,0) !important;
    display: block !important;
    opacity: 1 !important;
}

.tryxpath--focused-ancestor----f43c83f3-1920-4222-a721-0cc19c4ba9bf,
.tryxpath--element----f43c83f3-1920-4222-a721-0cc19c4ba9bf.tryxpath--focused-ancestor----f43c83f3-1920-4222-a721-0cc19c4ba9bf {
    outline: dashed thick rgb(255,255,0) !important;
    display: block !important;
    opacity: 1 !important;
}
